 body{
    font-family: "Poppins", serif;
    background-image: url('/images/concrete_seamless.png');
    background-color: #f1f1f1;
 }

@keyframes logostretch {
   from {width: 25px; opacity: 0;}
to {width: 475px; opacity: 1;}
}
header #logo{
   animation-duration: 5s;
   }

header{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

.nav_links{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav_links a:visited{
   color: #0000EE;
}

 